/* ======== Global Style ======== */
body {
    margin: 0;
    font-family: arial;
    font-size: 21px;
}


/*----Column 1---- */
.sidenav{
  height: 100%;
  width: 200px;
  background: rgb(0,44,157);
  background: radial-gradient(circle, rgba(0,44,157,1) 29%, rgba(1,16,43,1) 100%);
  /*background-color: #0a194a;*/
  font-family: arial;
  text-align: left;
  margin: 0px;
  padding: 20px 10px;
  position: fixed;
  left:0;
  top:0;
  overflow-x: visible; /* Disable horizontal scroll */
  /* padding: 1px 0 0 0; */
 }  
  

.sidenav a {
  padding: 2px 4px 2px 10px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #78fa1b;
}

/*----Column 2----*/
.main{
  background-color: white;
  color: blue
  margin-left: 200px;  /*Same as the width of the sidebar */
  padding: 0;
  
}

/* ======== Typography ======== */

h1 {
  font-size: 45px;
  text-align: center;
  margin-left: 120px;
  color: #00276e;
}

h2 {
  font-size: 30px;
  color: #00276e;
  text-align: center;
  }

h3{
  font-size: 24px;
}

/* ======== Layout ======== */

header{
  background-color: white;
  color: white;
  padding: 0 /*20px*/;

}

.center {
  display: block;
  margin: 30px auto;
  width: 50%;
}

/* Don't have to style the <main> section */

.intro{
  color: black;
  text-align: justify;
  margin: 0 /*50px 0 250px*/;
  padding: 10px 50px /*10px 60px*/;
}

.blank{
  back-ground-color: #0a194a;
  margin: 10px auto;
}

.my-skills{
  background-color: #0a194a;
  color: white;
  margin: 10px 50px 0 300px;
  padding: 10px 80px;
  text-align: center;
}

.columns{
  display: flex;
  /*margin: 0 10px 0 10px*/
  padding: 10px;
}

.column{
  padding: 10px 30px;
  
  
}


 

