/* ======== Global Style ======== */
body {
    margin: 0;
    font-family: arial;
    font-size: 21px;
}


/*----Column 1---- */
.sidenav{
  height: 100%;
  width: 220px;
  background: rgb(0,47,167);
  background: radial-gradient(circle, rgba(0,47,167,1) 12%, rgba(1,19,52,1) 100%);
  /*background-color: #0a194a;*/
  font-family: arial;
  text-align: left;
  position: fixed;
  left:0;
  top:0;
  overflow-x: visible; /* Disable horizontal scroll */
  /* padding: 1px 0 0 0; */
 }  
  

.sidenav a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  margin-left: 0;
  padding: 10px;
  display: block;
}

.sidenav a:hover {
  color: #78fa1b;
}

/*----Column 2----*/
.main{
  background-color: white;
  color: blue
  margin-left: 350px;  /*Same as the width of the sidebar */
  padding: 0;
  
}

/* ======== Typography ======== */

h1 {
  font-size: 45px;
  text-align: center;
  margin-left: 170px;
  color: #00276e;
}

h2 {
  font-size: 30px;
  color: #00276e;
  text-align: center;
  }

h3{
  font-size: 24px;
}

/* ======== Layout ======== */

header{
  background-color: white;
  color: white;
  padding: 0 /*20px*/;

}

.center {
  display: block;
  margin: 20px auto;
  padding-left: 200px;
  width: 50%;
}

/* Don't have to style the <main> section */

.intro{
  color: black;
  text-align: justify;
  margin: 0 50px 0 260px;
  padding: 10px 50px 10px 60px;
}

.blank{
  back-ground-color: #0a194a;
  margin: 10px auto;
}

.my-skills{
  background-color: #0a194a;
  color: white;
  margin: 10px 50px 0 270px;
  text-align: center;
}

.columns{
  display: flex;
  margin: 0 10px 0 10px
  padding: 10px;
}

.column{
  padding: 10px 30px;
  
  
}
