/* ======== Global Style ======== */
body {
    margin: 0;
    font-family: arial;
    font-size: 21px;
}

.dropdown {
display: inline-block;
position: relative;
margin: 0 0 0 1px;    
font-size: 18px;
color: #414345;
    
}

.dropdown-content {
 display: none;
 position: absolute;
 width: 100%;
 overflow: auto;
 box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
 
    
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content a {
display: block;
font-size: 15px;    
color: #4096ff;
padding: 3px;
text-decoration: none;
}

.dropdown-content a:hover {
color: #78fa1b;
background-color: #4096ff;
}

button {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.main{
  background-color: white;
  color: blue
  margin: 0 auto;  
  padding: 10px;
}

/* ======== Typography ======== */

h1 {
  font-size: 45px;
  text-align: center;
  margin: 0 auto;
  color: #00276e;
}

h2 {
  font-size: 30px;
  color: #00276e;
  text-align: center;
  margin: 0 auto;
  }

h3{
  font-size: 24px;
}

/* ======== Layout ======== */

header{
  background-color: white;
  color: white;
  padding: 0 auto;

}

.center {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/* Don't have to style the <main> section */

.intro{
  color: black;
  text-align: justify;
  margin: 0 auto;
  padding: 10px 100px;
}

.blank{
  back-ground-color: #0a194a;
  margin: 0 auto;
}

.my-skills{
  background-color: #0a194a;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.columns{
  display: flex;
  margin: 0 10px;
  padding: 10px;

}

.column{
  padding: 10px 30px;
   text-align: center;
 
}

caption{
    text-align:center;
    color:#82817d;
    font-size:6px;
    margin-left:500px; 
}   

